## Loads Attachment Preview

#set($url = false)
#set ($url = $core_v2_page.GetFormValue('w_url'))
#if (!$url)
	#set ($fileName = false)
	#set ($fileName = $core_v2_page.GetFormValue('w_filename'))
	#set ($uploadContextId = false)
	#set ($uploadContextId = $core_v2_page.GetFormValue('w_uploadContextId'))
	#if ($fileName && $uploadContextId)
		#set ($file = false)
		#set ($file = $core_v2_uploadedFile.Get($uploadContextId, $fileName))
		#if ($file)
		   #set ($url = $file.Url)
		#end
	#end
#end

#if ($url)
	$!core_v2_ui.GetPreviewHtml($url, "%{Width=320, Height=240, OutputIsPersisted='False'}")
#end