##
## Ajax callback for loading more tagged content
##
#set ($pageIndex = $core_v2_page.GetQueryStringValue('w_pageIndex'))
#set ($pageSize = $core_v2_page.GetQueryStringValue('w_pageSize'))
#set ($groupId = $core_v2_utility.ParseInt($mobile_v1_urlToken.Value('GroupId')))
#set($group = false)
#set($group = $core_v2_group.Get("%{Id=$groupId}"))
#if (!$group)
	$core_v2_widget.Hide()
#end
$core_v2_widget.ExecuteFile('list.vm')
