<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="mobile" type="Telligent.Evolution.Mobile.Web.Configuration.MobileConfigurationSection, Telligent.Evolution.Mobile.Web" />
  <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" /></configSections>

  <mobile evolutionUrl="http://example.com/" networkUserName="" networkPassword="" networkDomain="" urlScheme="examplemobile">
    <oAuth clientId="" clientSecret="" />
    <defaultUser languageKey="en-us" userName="Anonymous" />
    <authorization cookieName="zimbra-community-mobile" allowAnonymous="true" loginPage="login" />
    <dataFormats>
      <telephone pattern="(?:(?:\(?(?:00|\+)?(?:[1-4]\d\d|[1-9]\d?)\)?)?[\-\.\s\\\/]?)?(?:(?:\(?\d{3,}\)?[\-\.\s\\\/]?){2,})" />
    </dataFormats>
  </mobile>

  <system.web>
    <httpRuntime maxRequestLength="20480" maxUrlLength="2048" requestValidationMode="2.0" />
    <customErrors mode="Off" />

    <compilation debug="false" targetFramework="4.0" />

    <authentication mode="None">
    </authentication>

    <membership>
      <providers>
        <clear />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <remove namespace="Telligent.Evolution.Controls.Extensions" />
      </namespaces>
    </pages>

    <httpModules>
      <clear />
    </httpModules>
  <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers></system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Telligent.Evolution" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers></system.webServer>
<dotless minifyCss="false" cache="true" web="false" /></configuration>